

<header class="ta">
  <nav class="redes-sociales">
    <a href="https://www.facebook.com/campechecl/" target="_blank" title="facebook"><i class="fab fa-facebook-f"></i></a>
    <a href="https://www.instagram.com/campechecl/?hl=es-la" target="_blank" title="instagram"><i class="fab fa-twitter"></i></a>
    <a href="https://www.instagram.com/campechecl/?hl=es-la" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
  </nav>
</header>


<section id = "home" class="carousel carousel-position">
  <div class="container pt-5">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      </ol>
      <div class="carousel-inner text-center">
        <div class="carousel-item active">
          <img class="d-block img-fluid" src="<%= asset_path '1.png' %>" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="<%= asset_path '2.png' %>" alt="Second slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="<%= asset_path '3.png' %>" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="<%= asset_path '4.png' %>" alt="Third slide">
        </div>
        <div class="carousel-item">
          <img class="d-block img-fluid" src="<%= asset_path '5.png' %>" alt="Third slide">
        </div>
      </div>

    </div>
  </div>

  <div class="container  mx-auto d-flex my-4">
    <div class="border-bottom w-100"></div>
  </div>

  <section  class="container my-5 ">

    <h1 class="text-center text-white text-uppercase">Pongale no ma'</h1>
    <div class="row">
      <div class=" col-md-4 mt-4">
        <img class=" w-100 card-img-top border border-white border-md "  src="<%= asset_path 'Pantallas_campeche16.png' %>">
      </div>

      <div class=" col-md-4 mt-4">
        <img class=" w-100 card-img-top border border-white border-md "   src="<%= asset_path 'Pantallas_campeche12.png' %>">
      </div>

      <div class="col-md-4 mt-4 ">
        <img class=" w-100 card-img-top border border-white border-md "   src="<%= asset_path 'Pantallas_campeche20.png' %>">
      </div>
    </div>
  </section>




  <div class="container  mx-auto d-flex my-4 mt-10 mx-10">
    <div class="border-bottom w-100"></div>
  </div>

  <section class="container d-none d-sm-none d-md-block pt-3">
    <div class="py-5">
      <h1 class="  text-white ">CAMPECHE</h1>
      <div class="row">
        <div class="col-lg-5">
          <img  class="w-100 mb-4 border border-md border-white shadow-sm" src="<%= asset_path 'comer.jpg' %>">
        </div>
        <div class="col-lg-7">

          <h4 class=" text-white text-justify"> En nuestro restobar ubicado en La Reina contamos con una variedad en la carta para su elección; hamburguesas, pizzas a la piedra, sándwiches, pastas y acompañantes para que complascas tu paladar.</h4>
          <h4 class=" text-white text-justify"> Contamos con una amplia variedad de cervezas lager, ipas, belgas, ale, trigo y stout para su desgustación y variedad a la hora de realizar su selección.</h4>
          <h4 class=" text-white text-justify"> Dentro de nuestra carta podra encontrar variedad como carne, merluza, pollo y opciones veganas de porotos y garbanzo para que nadie se quede sin probar el sabor campechano.</h4>
          <h4 class=" text-white text-justify ">Nuestra especialidad son las hamburguesas caracterizadas por las diferentes combianaciones en sus ingredientes, ofreciendo siempre un sabor inovador a nuestra distengida clientela</h4>
          <h4 class=" text-white text-justify ">Campeche ofrece entre semana una variedad de platos para almorzar para que siempre tengas las opciones que necesites y estar presente cuando lo desees.</h5>

        </div>
      </div>
    </div>
    <div class="container mx-auto d-flex my-4">
      <div class="border-bottom w-100"></div>
    </div>
  </section>



  <section class="container pb-5">
   <h2 class="text-center text-white py-5">Horarios de Atención</h2>

   <div class="card-deck mt-10 mx-10">
     <div class="card">
       <div class="card-body bg-secondary">
         <h4 class="card-title text-center text-white">Horarios de Atención</h4>
         <h4 class="card-text text-center text-white"> Lunes a Sabados de 9 AM a 12 PM.</h4>
       </div>
     </div>

     <div class="card">
       <div class="card-body bg-secondary">
         <h4 class="card-title text-center text-white">Para Menú Ejecutivos</h4>
         <h4 class="card-text text-center text-white"> Lunes a Viernes de 12 PM a 4 PM</h4>
       </div>
     </div>
     </section>
