<%= form_with(model: reservation) do |form| %>

<% if reservation.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

  <ul>
    <% reservation.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<input type="hidden" name="location" value="<%= @space.slug %>">


<div class="field">
  <%= form.label :start_date %>
  <div class="content-datetimepicker" style="position: relative">
    <%= form.text_field :start_date, id: :reservation_start_date %>
  </div>
</div>

<div class="field">
  <%= form.label :quantity %>
  <%= form.number_field :quantity, id: :reservation_quantity %>
</div>

<div class="field">
  <%= form.label :telephone %>
  <%= form.text_field :telephone, id: :reservation_telephone %>
</div>

<div class="field">
  <%= form.label :commentary %>
  <%= form.text_area :commentary, id: :reservation_commentary %>
</div>

  <% if current_user.admin? %>
<div class="field">

  <% if @reservation.status == 'created' %>

  <%= form.radio_button :status, "created", checked: true %> Creada <br>
  <%= form.radio_button :status, "process" %> proceso <br>
  <%= form.radio_button :status, "finished" %> Finalizada

  <%elsif @reservation.status == 'process'   %>
  <%= form.radio_button :status, "created" %> Creada <br>
  <%= form.radio_button :status, "process", checked: true %> proceso <br>
  <%= form.radio_button :status, "finished" %> Finalizada

  <% elsif @reservation.status == 'finished' %>
  <%= form.radio_button :status, "created" %> Creada <br>
  <%= form.radio_button :status, "process" %> proceso <br>
  <%= form.radio_button :status, "finished", checked: true %> Finalizada
  <%end%>
</div>
  <%end%>
<div class="actions">
  <%= form.submit %>
</div>
<% end %>
