<%= form_with(model: reservation, local: true) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_local_field :start_date, id: :reservation_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_local_field :end_date, id: :reservation_date %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, id: :reservation_quantity %>
  </div>

  <div class="field">
    <%= form.label :telephone %>
    <%= form.text_field :telephone, id: :reservation_telephone %>
  </div>

  <div class="field">
    <%= form.label :commentary %>
    <%= form.text_area :commentary, id: :reservation_commentary %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
