<p id="notice"><%= notice %></p>

<p>
  <strong>Start date:</strong>
  <%= @reservation.start_date %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @reservation.quantity %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @reservation.telephone %>
</p>

<p>
  <strong>Commentary:</strong>
  <%= @reservation.commentary %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>

<%= form_with(model: @reservation) do |form| %>
<div class="actions">

  <%= form.hidden_field :status, :value => "process"%>

  <%= form.submit "Confimar" %>
</div>
<%end%>
