<% if current_user.admin? %>
<%= render 'layouts/barraAdmin'%>
<%end%>
<section>
  <div class="container text-center ">

    <p id="notice"><%= notice %></p>

    <h1 class="text-white">Mesas</h1>

    <table class="table table-striped table-hover text-white ">

      <thead>
        <tr>
          <th>NUMERO</th>
          <th>SILLAS</th>
          <th>DISPONIBLE</th>
          <th>ESPACIO</th>
          <th>OPCIONES</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @tables.each do |table| %>
        <tr>
          <td><%= table.table_number %></td>
          <td><%= table.chair %></td>
          <td><%= table.available %></td>
          <td><%= table.space.slug %></td>
          <td><%= link_to 'Edit', edit_table_path(table), class: 'btn btn-primary text-white' %></td>
          <td><%= link_to 'Destroy', table, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger text-white' %></td>
        </tr>
        <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'NUEVA MESA', new_table_path, class: 'btn btn-warning' %>

  </div>

</section>
