
<p id="notice"><%= notice %></p>
<h2 class=" font-weight-bold text-center my-4 text-white radio">Comentarios</h2>
<% if user_signed_in?  %>
<p class="text-center text-white"><%= link_to 'Crear un Comentario', new_post_path,class: 'btn btn-sm btn-success text-white'%></p>
<% end %>
<div class="row py-5 mt-4 align-items-center">
  <!-- For Demo Purpose -->
  <div class="col-md-6 text-center">
    <h2 class=" font-weight-bold  text-uppercase text-letf my-4 text-white" style="margin-left: 50px;">calificaciones y opiniones</h2>
    <h1 class=" font-weight-bold text-center my-4 text-white" style="margin-left: 50px;"><%= @startotal %></h1>
    <div class="form clasificacion form-check-inline" style="margin-left: 80px;">

      <% n = 4 %>
      <% while n >= 0 do %>
      <% if @startotal > n %>
      <input class = "d-none" type="radio" checked><label >★</label>
      <% else %>
      <input class = "d-none" type="radio" disabled><label >★</label>
        <% end %>
      <% n -= 1 %>
      <% end %>





    </div>

    <img src='<%= asset_path "comentario.png" %>' class="img-fluid mb-3 d-none d-md-block" style="margin-left: 80px;">
    <h2 class="font-italic text-white mb-0 "  style="margin-left: 150px;">Ingresa con tu usuario y cuentanos sobre tu experiencia!.</h2>

  </div>


  <div class="col-md-6 ">
    <div class="py-5">
      <div class="row">
        <div class="col-lg-9 mx-auto">

          <% @posts.each do |post| %>
          <div class="card shadow mb-4">
            <div class="card-body shadow-sm p-5">

              <nav aria-label="breadcrumb">
                <ol class="breadcrumb breadcrumb-bullet">


                  <li class="breadcrumb-item text-uppercase"><strong>Usuario:</strong> <%= post.user.email %></li>
                  <li class="breadcrumb-item text-uppercase text-right"><%= DateTime.now.strftime("%d-%m-%Y") %></li>

                </ol>
              </nav>

              <p class="font-italic text-muted">		<%= post.content %></p>

              <div class="col-m-6 ">
                <div class="form clasificacion form-check-inline">

                  <% n = 4 %>
                  <% while n >= 0 do %>

                  <% if (post.star.nil? ? 0 : post.star) > n %>

                  <input class= "d-none" type="radio" checked><label >★</label>
                  <% else %>
                  <input class= "d-none" type="radio" disabled><label >★</label>
                    <% end %>
                  <% n -= 1 %>
                  <% end %>

                </div>
              </div>

            </div>

            <% if user_signed_in? && current_user.admin? %>
            <%= link_to 'Editar', edit_post_path(post), class: 'btn btn-sm btn-success' %>
            <%= link_to 'Eliminar', post, method: :delete, data: { confirm: 'Estás seguro que deseas eliminar el Post?' }, class: 'btn btn-sm btn-danger' %>
            <% end %>
          </div>

          <br>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<br>
