<div class="container-fluid" >
  <nav  class="navbar navbar-expand-lg navbar-light fixed-top colordark">


    <h1  class="navbar-brand text-white text-center top" style= "font-size: 3rem"><%= image_tag 'logo.png', class: 'img-navbar'%> Campeche</h1>
    <button class="navbar-toggler navbar-dark custom-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse text-center colordark" id="navbarNav">
      <ul class="navbar-nav ml-auto my-3 mx-5 mt-5">

        <%if user_signed_in? && current_user.admin? %>
        <li class="nav-item active text-white letra" id="sidebarCollapse" type="button"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Tablero Administrador|</small></li>
        <li class="nav-item"><a class=" nav-link text-white letra" href="<%= destroy_user_session_path %>" data-method="DELETE"><i class="fas fa-users-cog mr-2"></i>Salir|</a></li>
        <li class="nav-item"><a class=" nav-link text-white letra"><i class="fas fa-users-cog mr-2"></i><%= current_user.email %></a></li>
        <% elsif user_signed_in? %>
        <li class="nav-item active"><a class=" nav-link text-white letra" href="<%= home_index_path %>">Inicio|</a></li>
        <li class="nav-item"><a class=" nav-link text-white letra" href="<%= menu_index_path %>">Menú|</a></li>
        <li class="nav-item"><a class=" nav-link text-white letra" href="<%= spaces_path %>">Reserva|</a></li>
        <li class="nav-item"><a class=" nav-link text-white letra" href="<%= posts_path %>">Comentarios|</a></li>
        <li class="nav-item"><a class=" nav-link text-white letra" href="<%= new_contact_path %>">Contacto|</a></li>
        <li class="nav-item"><a href="<%= destroy_user_session_path %>" data-method="DELETE">Salir|</a></li>
        <li class="nav-item"><a class=" nav-link text-white letra"><%= current_user.email %></a></li>
        <% else %>
        <li class="nav-item active"><a class=" nav-link text-white letra" href="<%= home_index_path %>">Inicio|</a></li>
        <li class="nav-item"><a class=" nav-link text-white letra" href="<%= menu_index_path %>">Menú|</a></li>
        <li class="nav-item"><a class=" nav-link text-white letra" href="<%= new_user_session_path %>">Reserva|</a></li>
        <li class="nav-item"><a class=" nav-link text-white letra" href="<%= posts_path %>">Comentarios|</a></li>
        <li class="nav-item"><a class=" nav-link text-white letra" href="<%= new_contact_path %>">Contacto|</a></li>
        <li class="nav-item"><a class=" nav-link text-white letra" href="<%= new_user_session_path %>" >Ingreso|</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>





<% if user_signed_in? && current_user.admin? %>
<%= render 'layouts/barraAdmin'%>
<%end%>
