<div class="container-fluid  navbar-dark bg-dark" >
<nav class="navbar  navbar-expand-lg " >


  <a class="navbar-brand" href="#"><%= image_tag 'logo.png', class: 'img-pequeña'%> Campeche</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto" >
      <% if user_signed_in? %>
      <li class="nav-item active" style = 'margin-right: 80px'><a class="nav-link" href="<%= home_index_path %>">Inicio</a></li>
      <li class="nav-item active"style = 'margin-right: 80px'><a class="nav-link" href="#">Menú</a></li>
      <li class="nav-item active"style = 'margin-right: 80px'><a class="nav-link" href="<%= reservations_path %>">Reserva</a></li>
      <li class="nav-item active"style = 'margin-right: 80px'><a class="nav-link" href="#">Delivery</a></li>
      <li class="nav-item active"style = 'margin-right: 80px'><a class="nav-link" href="#">Block</a></li>
      <li class="nav-item active"style = 'margin-right: 80px'><a class="nav-link" href="#">Contacto</a></li>
      <li class="nav-item active"style = 'margin-right: 80px'><a href="<%= destroy_user_session_path %>" data-method="DELETE">Salir</a></li>
      <li class="nav-item active"style = 'margin-right: 80px'><a class="nav-link"><%= current_user.email %></a></li>
      <% else %>
      <li class="nav-item active"><a href="">Bienvenido </a></li>
      <li class="nav-item active"><a class="nav-link" href="<%= home_index_path %>">Inicio</a></li>
      <li class="nav-item active"><a class="nav-link" href="#">Menú</a></li>
      <li class="nav-item active"><a class="nav-link" href="<%= reservations_path %>">Reserva</a></li>
      <li class="nav-item active"><a class="nav-link" href="#">Delivery</a></li>
      <li class="nav-item active"><a class="nav-link" href="#">Block</a></li>
      <li class="nav-item active"><a class="nav-link" href="#">Contacto</a></li>
      <li class="nav-item"><a class="nav-link" href="<%= new_user_session_path %>" >Ingreso</a></li>
      <li class="nav-item"><a class="nav-link" href="<%= new_user_registration_path %>">Registro</a></li>
      <% end %>
    </ul>

  </div>
</nav>
</div>
