<div class="navbar">


<div class="container-fluid navbar" >
<nav class="navbar tansparete navbar-expand-lg" >


  <a class="navbar-brand" href="#"><%= image_tag 'logo.png', class: 'img-pequeña'%> Campeche</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav text-center" style = "margin-right: 80px; margin-left: 80px;" >

      <%if user_signed_in? && current_user.admin? %>
      <li  style = "margin-right: 80px; margin-left: 80px;" ><button id="sidebarCollapse" type="button" class="btn btn-light  rounded-pill shadow-sm px-4 mb-4"><i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Tablero Administrador</small></button></li>
      <li  style = "margin-right: 80px; margin-left: 80px;" ><button type="button" class="btn btn-light  rounded-pill shadow-sm px-4 mb-4"><i class="fas fa-sign-out-alt mr-2"></i><small class="text-uppercase font-weight-bold"><a href="<%= destroy_user_session_path %>" data-method="DELETE">Salir</a></small></button></li>
      <li  style = "margin-right: 80px; margin-left: 80px;" ><button type="button" class="btn btn-light  rounded-pill shadow-sm px-4 mb-4"><i class="fas fa-users-cog mr-2"></i><small class="text-uppercase font-weight-bold"><%= current_user.email %></small></button></li>

      <% elsif user_signed_in? %>
      <li class="nav-item active" style = 'margin-right: 80px'><a class="text-white" href="<%= home_index_path %>">Inicio</a></li>
      <li class="nav-item active"style = 'margin-right: 80px'><a class="text-white" href="#">Menú</a></li>
      <li class="nav-item active"style = 'margin-right: 80px'><a class="text-white" href="<%= spaces_path %>">Reserva</a></li>

      <li class="nav-item active"style = 'margin-right: 80px'><a class="text-white" href="<%= posts_path %>">Comentarios</a></li>
      <li class="nav-item active"style = 'margin-right: 80px'><a class="text-white" href="<%= new_contact_path %>">Contacto</a></li>
      <li class="nav-item active"style = 'margin-right: 80px'><a href="<%= destroy_user_session_path %>" data-method="DELETE">Salir</a></li>
      <li class="nav-item active"style = 'margin-right: 80px'><a class="text-white"><%= current_user.email %></a></li>
      <% else %>
      <li class="nav-item active" style = 'margin-right: 80px'><a class="text-white" href="<%= home_index_path %>">Inicio</a></li>
      <li class="nav-item active" style = 'margin-right: 80px'><a class="text-white" href="#">Menú</a></li>
      <li class="nav-item active" style = 'margin-right: 80px'><a class="text-white" href="<%= new_user_session_path %>">Reserva</a></li>

      <li class="nav-item active" style = 'margin-right: 80px'><a class="text-white" href="<%= posts_path %>">Comentarios</a></li>
      <li class="nav-item active" style = 'margin-right: 80px'><a class="text-white" href="<%= new_contact_path %>">Contacto</a></li>
      <li class="nav-item" style = 'margin-right: 80px'><a class="text-white" href="<%= new_user_session_path %>" >Ingreso</a></li>
      <li class="nav-item" style = 'margin-right: 80px'><a class="text-white" href="<%= new_user_registration_path %>">Registro</a></li>
      <% end %>

    </ul>

  </div>
</nav>
</div>
</div>
